@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/basscss/css/basscss.min.css';

html {
  font-size: 18px;
}

h1 {
  font-size: 2rem;
}

tastybeans-app {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
