# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2

# Unix-style newlines with a newline ending every file
[*.md]
trim_trailing_whitespace = false
